<div class="light">

  <% if (loggedIn) { %>

    <div class="sidebar sidebar-logged-in">

      <a class="profile-image" target="blank" href="<%= link %>">
        <img src="<%= picture %>" width="50" height="50" alt="<%= name %>"/>
      </a>

      <div class="right">
        <div class="profile-name">
          <a target="blank" href="<%= link %>" ><%= name %></a>
        </div>
        <div class="promo"><%= loginMeta %></div>
        <div class="logout"><a><%= logout %></a></div>
      </div>

      <div class="clear"></div>

      <div class="bottom">
        <% if (autoSharing) { %>
          <div class="auto-sharing-toggle auto-sharing-toggled-on">
            <a title="Auto sharing to Facebook is enabled"><%= autoSharingOn %></a>
          </div>
        <% } else { %>
          <div class="auto-sharing-toggle auto-sharing-toggled-off">
            <a title="Auto sharing to Facebook is disabled"><%= autoSharingOff %></a>
          </div>
        <% } %>
        <div class="activity">
          <a><%= activity %></a>
        </div>
      </div>
    </div>

  <% } else { %>

    <div class="sidebar sidebar-logged-out">
      <p><%= loginPromo %></p>
      <a class="button">
        <img src="<%= pluginUrl %>/images/facebooklogin.jpg" width="180" height="40"/>
      </a>
    </div>

  <% } %>

</div>
