<% 
  if (from.id === window._sr.user.id) {
    story_type = 'sr_me_story';
  } else {
    story_type = 'sr_friend_story';
  }
%>

<li id='sr_read_<%= id %>' class='<%= story_type %>'>
  <a class='name' href='//facebook.com/<%= from.id %>' target='blank'>
    <img class='story-img' src='https://graph.facebook.com/<%= from.id %>/picture' width='50' height='50' alt='<%= from.name %>' />
  </a>
<div class='story-inner'>
  <div class='story-title'>
    <a class='name' href='//facebook.com/profile.php?id=<%= from.id %>' target='blank'><%= from.name %></a> 
    read 
    <a class='article' href='<%= data.article.url %>' target='blank'><%= data.article.title %></a>
  </div>
  <div class='story-meta'><%= relative_time %> <span class='sr_story_delete_text'>&middot; <a class='sr_story_delete'>Delete</a></span>
  </div>
</div>
<div class='sr_clear'>
</div>
</li>