<% if (isLoggedIn) { %>

  <div id='sr_sidebar_logged_in'>
    <a id='sr_sidebar_img' target='blank' href='<%= user.link %>'><img src='<%= user.picture %>' width='50' height='50' alt='<%= user.name %>'/></a>
    <div id='sr_sidebar_right'>
      <div id='sr_sidebar_name'>
        <a target='blank' href="<%= user.link %>" ><%= user.name %></a>
      </div>
      <div id='sr_sidebar_promo'><%= site.login_meta %></div>
      <div id='sr_sidebar_logout'><a><%= site.logout %></a></div>
    </div>
    <div class='clear'>
    </div>
    <div id='sr_sidebar_bottom'>
      <% if (user.is_auto_sharing) { %>
        <div class='sr_sidebar_toggle sr_sidebar_toggled_on'>
          <a title='Auto sharing to Facebook is enabled'><%= site.auto_sharing_on %></a>
        </div>
      <% } else { %>
        <div class='sr_sidebar_toggle sr_sidebar_toggled_off'>
          <a title='Auto sharing to Facebook is disabled'><%= site.auto_sharing_off %></a>
        </div>
      <% } %>
      <div id='sr_sidebar_activity'>
        <a><%= site.activity %></a>
      </div>
    </div>
  </div>

<% } else { %>

  <div id='sr_sidebar_logged_out'>
    <p><%= site.login_promo %></p>
    <a id='sr_sidebar_login'><img src='<%= site.plugin_url %>/images/facebooklogin.jpg' width='180' height='40'/></a>
  </div>

<% } %>

