
body {
  margin:0;
  padding:0;
}
.lightbox {
  background: #fff;
  background: url(https://s3-eu-west-1.amazonaws.com/social-api/images/borderbg.png) repeat;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width:100%;
  height:100%;
  position:relative;
}
.inner {
  background:#fff;
  top:10px;
  right:10px;
  left:10px;
  bottom:10px;
  position:absolute;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.close {
  position:absolute;
  font-weight:bold;
  color:#fff;
  font-size:14px;
  top:7px;
  right:11px;
}
h3 {
  margin:0;
  border-bottom:1px solid #ccc;
  padding:4px 5px 4px 10px;
  font-size:18px;
  background:#6D84B4;
  border:1px solid #3B5998;
  font-weight:bold;
  color:#fff;
}
.loading {
  width:24px;
  height:24px;
  position:absolute;
  left:50%;
  top:100px;
  margin-left:-12px;
}
.reads_empty {
  padding:5px 10px;
}
.tabs {
  list-style-type:none;
  margin:0;
  padding:8px 15px;
  background:#f6f6f6;
  border-bottom:1px solid #ccc;
}
.tabs li {
  font-size:14px;
  display:inline-block;
  margin-right:15px;
}
.tabs li.active a {
  font-weight:bold;
  color:#333;
  cursor:text;
}
.tabs li.active a:hover {
  text-decoration:none;
}
.reads_list {
  overflow-y:auto;
  margin:0;
  height:505px;
}
.reads_list ul {
  list-style-type:none;
  padding:10px 0 0 0;
  margin:0;
}
.reads_list ul li {
  border-bottom:1px solid #eee;
  padding:5px 10px 10px 10px;
  margin-bottom:10px;
  font-size:14px;
}
.reads_list ul li .story-img {
  width:50px;
  height:50px;
  float:left;
  display:block;
  margin:2px 0 0 0;
}
.reads_list ul li .story-inner {
  margin:0 0 0 13px;
  padding:0;
  float:left;
  width:470px;
}
.reads_list ul li .story-inner .story-title {
  margin:0 0 10px 0;
}
.reads_list ul li .story-inner .story-title a {
  font-weight:bold;
}
.reads_list ul li .story-inner .story-meta {
  color:#777;
  margin:0;
  font-size:12px;
}
.reads_list ul li .story-inner .story-meta .story-time {
  color:#777;
}
.reads_list ul .sr_friend_story .story-inner .story-meta .sr_story_delete_text {
  display:none;
}
.reads_list ul li .story-inner .story-like-arrow {
  display:block;
  height:5px;
  overflow:hidden;
  background:url(../images/fbarrow.png) no-repeat 21px 0;
  margin:3px 0 0 0;
  padding:0;
}
.reads_list ul li .story-inner .story-likes {
  background:#edeff4 url(../images/fblike.png) no-repeat 6px 5px;
  font-size:12px;
  padding:5px 5px 5px 27px;
  margin:0 0 1px 0;
}
.reads_list ul li .story-inner .story-comments {
  font-size:12px;
  margin:0 0 5px 0;
  padding:0;
}
.reads_list ul li .story-inner .story-comments ul.comment-list {
  margin:0;
  padding:0;
}
.reads_list ul li .story-inner .story-comments ul.comment-list li {
  min-height:35px;
  padding:5px;
  background:#edeff4;
  margin:0 0 1px 0;
  font-size:12px;
}
.reads_list ul li .story-inner .story-comments ul.comment-list li img {
  float:left;
  margin-right:7px;
}
.reads_list ul li .story-inner .story-comments ul.comment-list li .comment-meta {
  color:#777;
  margin:4px 0 0 0;
}
.reads_list ul li .story-inner .story-comments .new-comment {
  background:#edeff4;
  padding:5px;
  margin:0;
}
.reads_list ul li .story-inner .story-comments .new-comment img {
  float:left;
  margin-right:7px;
}
.reads_list ul li .story-inner .story-comments .new-comment input {
  color:#777;
  border:1px solid #BDC7D8;
  margin:0;
  padding:3px;
  width:415px;
}
input.input-pending {
  background:#eee;
  color:#777 !important;
}

#noReadsMessage {
  margin:10px;
}
.clear {
  clear: both;
}